#outerbody
{
    width: 1350px;
    height: 650px;
    margin-top: 20px;
    /* background-color: rgba(223,231,229,255); */
}
body
{
    background-color: rgba(223,231,229,255);
}




#leftdiv
{
    width: 440px;
    height: 650px;
/* background-color: rgba(27,139,185,255); */
background-color: black;
margin-left: 14px;

transform:
    
    perspective(800px)
    rotateY(1deg);
  transition: transform 1s ease 0s;
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
    
}

#rightdiv
{
 /* border-left: 2px #626060 solid; */
    width: 900px;
    height: 650px;
/* background-color: rgba(27,139,185,255); */
background-color: black;


}
#innerright
{
    position: absolute;
    width: 860px;
    height:600px ;
    background-color: rgba(223,231,229,255);
    margin-left: 18px;
    margin-top: 23px;
}

.spc{
padding-top: 20px;
font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.btni
{
    margin-top: 40px;
    margin-left: 350px;
    width: 80px;
    font-size: x-large;

}

#imagee
{
    border: 2px solid rgb(14, 12, 12);
    position: absolute;
    margin-top: 120px;
    width: 200px;
    height: 200px;
    /* margin-bottom: 20px; */
    float: right;
    margin-left: -32px;
    
}

#innerleft
{
    position: absolute;
    width: 390px;
    height: 600px;
    background-color: rgba(223,231,229,255);
    margin-left: 26px;
    margin-top: 23px;
}

.ls
{
    padding-left: 15px;
}




#imagewali
{
    width: 370px;
    height: 400px;
    background-color: rgba(223,231,229,255) ;
}

#inputEmail
{
    margin-left: 15px;
}
#inputAddress
{
    margin-left: 15px;
}

#inputtarea
{
    margin-left: 15px;
}