<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/angular.min.js"></script>


    <script>
         var myModule= angular.module("itsMyModule",[]);  //view done
         myModule.controller("myController",function($scope)//controller class
         {
            $scope.fn="Eknoor";
            $scope.ln="Singh";

            $scope.doJoin=function()
            {
                $scope.full=$scope.fn+" "+$scope.ln;
                    // alert($scope.full);
            }

            $scope.ary=["none","jan","feb","March"];
            $scope.selMonth=$scope.ary[0];
            $scope.doShow=function()
            {
                alert($scope.selMonth);
            }
            $scope.jsonAry = [{
                    emailid: "sst@gmail.com",
                    pwd: "ancf",
                    mobile : "734783784"
                },
                {
                    emailid: "1bce@gmail.com",
                    pwd: "ancf",
                    mobile : "111111"
                },
                {
                    emailid: "2bce@gmail.com",
                    pwd: "ancf",
                    mobile : "222222"
                },
                {
                    emailid: "3bce@gmail.com",
                    pwd: "ancf",
                    mobile : "3333333"
                }
            ];
        

            $scope.doDelete=function(email)
            {
                    alert(email);
            }
         })
    </script>

</head>

<body ng-app="itsMyModule" ng-controller="myController">
    <center>
    Hello: {{fn+" "+ln}}

    <p>
        <input type="text" ng-model="fn" >
        <input type="text" ng-model="ln"> 
        <p>

            <p>
                <input type="button" value="Join" ng-click="doJoin();">
            </p>

            <p>
                 <input type="text" ng-model="full"> 
            </p>

            <hr>
            months
            <select ng-change="doShow();" ng-model="selMonth">
             <option  ng-repeat="value in ary" value="{{value}}">{{value}}</option>
            </select>
            <hr>

            
       <center>
        <h2>ALL records</h2>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Email Id</th>
                <th scope="col">Password</th>
                <th scope="col">Mobile</th>
                <th scope="col">Delete</th>
                
                 
              </tr>
            </thead>

            <tbody>
                <tr ng-repeat="obj in jsonAry">
                  <td>
                      {{$index+1}}
                  </td>
                  <td>
                      {{obj.emailid}}
                  </td>
                  <td>
                      {{obj.pwd}}
                  </td>
                  <td>
                      {{obj.mobile}}
                  </td>
                  <th>
                      <a href="#" ng-click="doDelete(obj.emailid);">Delete</a>
                  </th>
                </tr>
                
              </tbody>
            </table>

    </center>

</center>
    
</body>

</html>